<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>About Site</title>
  </head>
  <body>
    <nav>
        <a href="/index" alt="index page link">Index</a>
        <a href="/about" alt="about page link">About</a>
        <a href="/works" alt="works page link">Works</a>
        <a href="/photo_gallery" alt="photo_gallery page link">Photo Gallery</a>
      </nav>
    <h1>About Mozart</h1>
    <h2>When the genius becomes a man.</h2>
    <p>
      His entire childhood is translated into music: his games, his emotions.
      His sister is also an excellent musician. So the father, proud of his two
      children, decides to make them known throughout Europe by taking long
      trips with them. This traveling life, added to the difficult transport
      conditions of the time, will be detrimental to Wolfgang's already fragile
      health. Throughout your life you will be affected by different diseases.
      Another aspect of the childhood of this genius is that, when he came into
      contact with the world of great personalities so soon, he had practically
      no opportunity to socialise with other children his age. As an adult, you
      will have few friends and hardly anyone with whom to share deep ideas. Not
      even his wife will be able to understand his genius. His travels took him
      especially to Austria, Germany, Belgium, France, England, Italy. Contacts
      with these peoples abundantly nurtured their general culture. His music
      goes beyond all national borders and the limitations they imply: it is not
      Italian, nor German, nor French. This is what explains the extraordinary
      universality of Mozart. In 1783 he met the composer Haydn, who was his
      teacher at first, to become his disciple immediately. They will then be
      friends and dedicate works to each other. Haydn, a well-known musician in
      life, will say: "Mozart is the greatest composer in the world today." In
      1784 Mozart entered the Viennese Masonic lodge. This contact will have a
      profound influence on your life and your work. He died in 1791.
    </p>
    <h2>The man</h2>
    <p>
      Wolfgang Amadeus Mozart possessed the most delicate sense of lyrical
      poetry, as well as drama. No doubt he must have read a lot: his library
      contained books on travel, history, and philosophy. Passionate about
      mathematics, when he was little, he filled tables and walls with numbers.
      Specially gifted in languages, he knew English, Italian, German, and Latin
      from liturgical texts. He also appreciated horseback riding, fencing,
      billiards, dancing. He loved birds: for three years he kept a starling
      that had learned to sing the first bars of the theme of one of his piano
      concertos.
    </p>
    <h2>His character, his nature</h2>
    <p>
      Cheerful by nature, Mozart was fond of entertainment. He loved the things
      in life, but without being overly attached to them. He was incapable of
      conceiving evil. There is no sentimentality in his music and he never
      introduced any vulgar element into it. He never took pity on himself
      despite his trials. Discreet, his genius will not be revealed in depth
      other than in his music. He had great love and respect for others. A lover
      of truth, he was on the lookout for everything he could learn, in a
      constant search to broaden his understanding. He was ruthless with all
      forms of oppression. He couldn't bear to be treated like a servant. In his
      day, aristocrats' contempt for intellectuals and artists was common. He
      claimed the total independence of the artist, even when it could lead to
      misery. He bowed before true greatness, and always ignored lowliness,
      envy. Welcoming to young musicians, it also protected them. When he found
      someone who was sensitive to his art, he played for hours, even if it was
      the most insignificant or most unknown man. He was a man of faith. His
      membership in Freemasonry was not in contradiction with his religious
      practice. “True heartless genius is a contradiction in terms. For neither
      high intelligence, nor imagination, nor both together make genius. Love
      love love! Here is the soul of the genius. " "I wanted to have everything
      that is good, pure and beautiful. Where does it come from, then, that
      those who are not in a position to do so would want to lavish everything
      for beautiful things, and that those who are, do not?"
    </p>
    <footer>
        <a href="/index" alt="index page link">Index</a>
        <a href="/about" alt="about page link">About</a>
        <a href="/works" alt="works page link">Works</a>
        <a href="/photo_gallery" alt="photo_gallery page link">Photo Gallery</a>
    </footer>
  </body>
</html>
