<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Basic Site</title>
  </head>
  <body>
    <nav>
      <a href="/index" alt="index page link">Index</a>
      <a href="/about" alt="about page link">About</a>
      <a href="/works" alt="works page link">Works</a>
      <a href="/photo_gallery" alt="photo_gallery page link">Photo Gallery</a>
    </nav>
    <h1>Mozart, a Classic</h1>
    <p>
      Wolfgang Amadeus Mozart is considered the most distinguished
      representative of Classicism in the History of Music, also understanding
      as "classical" that set of archetypal qualities worthy of being imitated,
      which were proposed as a model in the Renaissance, trying to recover the
      reigning values of ancient Greece which are fundamentally proportion,
      harmony, serenity, moderation, balance and order. So does the Music of
      Mozart.
    </p>
    <footer>
      <a href="/index" alt="index page link">Index</a>
      <a href="/about" alt="about page link">About</a>
      <a href="/works" alt="works page link">Works</a>
      <a href="/photo_gallery" alt="photo_gallery page link">Photo Gallery</a>
    </footer>
  </body>
</html>
