<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Mozart Photo Gallery</title>
  </head>
  <body>
    <nav>
      <a href="/index" alt="index page link">Index</a>
      <a href="/about" alt="about page link">About</a>
      <a href="/works" alt="works page link">Works</a>
      <a href="/photo_gallery" alt="photo_gallery page link">Photo Gallery</a>
    </nav>
    <h1>Mozart Photo Gallery</h1>
    <section_image>
      <img src="/images/Mozart1.jpg" alt="Mozart portrait" />
      <img src="/images/Mozart2.jpg" alt="Mozart statue" />
      <img src="/images/Mozart3.jpg" alt="Mozart family portrait" />
      <img src="/images/Mozart4.jpg" alt="Mozart child portrait" />
      <img src="/images/Mozart5.jpg" alt="Mozart portrait" />
    </section_image>
    <footer>
      <a href="/index" alt="index page link">Index</a>
      <a href="/about" alt="about page link">About</a>
      <a href="/works" alt="works page link">Works</a>
      <a href="/photo_gallery" alt="photo_gallery page link">Photo Gallery</a>
    </footer>
  </body>
</html>
