<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Works Site</title>
  </head>
  <body>
    <nav>
      <a href="/index" alt="index page link">Index</a>
      <a href="/about" alt="about page link">About</a>
      <a href="/works" alt="works page link">Works</a>
      <a href="/photo_gallery" alt="photo_gallery page link">Photo Gallery</a>
    </nav>
    <h1>Mozart Works</h1>
    <h2>The composer</h2>
    <p>
      “The idea grows more and more, I develop it and explain it; The work is
      almost ready in my mind, even if it is long, so that later, I embrace it
      in my spirit with a single glance, like a beautiful painting or a
      beautiful man, and I listen to it in my imagination, not in succession. in
      which it should appear, if not in one fell swoop, in its entirety. What a
      feast! All the work of imagination and elaboration is carried out in me as
      in a deep and beautiful dream, whose best aspect is that kind of global
      vision ”(Mozart). The "divine Mozart" left a mystery around him: his
      precocity, his speed of writing, the perfection of his harmony that never
      collides, are so many questions. He seemed driven by the need to produce,
      as if he sensed the brevity of his existence. Although he wrote to order
      and out of material necessity, Mozart successfully tackled all genres of
      works. The number of his works is prodigious (more than 600), although
      difficult to determine exactly, due to the lost scores and doubts
      concerning the authenticity of certain pages of his catalog.
    </p>
    <footer>
      <a href="/index" alt="index page link">Index</a>
      <a href="/about" alt="about page link">About</a>
      <a href="/works" alt="works page link">Works</a>
      <a href="/photo_gallery" alt="photo_gallery page link">Photo Gallery</a>
    </footer>
  </body>
</html>
